:root{
  --base-line-height: 1.42;
  --mono-saturation: 10%;
  --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  text-align: justify;
}

li {
  text-align: left;
}

#home {
  display: inline-block;
  font-size: 12pt;
  background-color: #394246;
  border-radius: 4.2%;
  padding: 5px;
  margin: 0px;
  text-decoration: none;
  line-height: 1.25;
  transition: linear 0.2s;
}

#home:hover{
  background-color: #505c62;
  transform: scale(1.025);
}

#aide {
  display: inline-block;
  font-size: 12pt;
  background-color: #394246;
  border-radius: 4.2%;
  padding: 5px;
  margin: 0px;
  text-decoration: none;
  line-height: 1.25;
  transition: linear 0.2s;
}

#aide:hover{
  background-color: #505c62;
  transform: scale(1.025);
  animation: none;
}
